@charset "UTF-8";
.footer {
  margin-top: 60px;
  background-color: #232323;
  color: #ffffff;
  padding: 40px 0;
  font-size: 14px;
  line-height: 1.5;
}
.footer .footer_container-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.footer .footer_container-nav .footer_nav-info {
  flex: 1;
}
.footer .footer_container-nav .footer_nav-info .footer_logo {
  max-width: 214px;
  margin-bottom: 15px;
}
.footer .footer_container-nav .footer_nav-info .footer_info {
  max-width: 385px;
  font-size: clamp(16px, 2vw, 20px);
  color: #fff;
}
.footer .footer_container-nav .footer_nav-links {
  flex: 2;
}
.footer .footer_container-nav .footer_nav-links .footer_links-list {
  column-count: 2;
  column-gap: 30px;
}
.footer .footer_container-nav .footer_nav-links .footer_links-list .footer_link {
  color: #fff;
  font-size: clamp(16px, 2vw, 20px);
  list-style: none;
  cursor: pointer;
  transition: color 0.3s;
  break-inside: avoid;
}
.footer .footer_container-nav .footer_nav-links .footer_links-list .footer_link:hover {
  color: #f1c40f;
}
.footer .footer_container-disclaimer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  border-top: 1px solid #444;
  padding-top: 15px;
}
.footer .footer_container-disclaimer ._footer_copy {
  color: #fff;
  font-size: 16px;
}
.footer .footer_container-disclaimer .footer_disclaimer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 26px;
}
.footer .footer_container-disclaimer .footer_disclaimer .footer_disclaimer-meta {
  color: #fff;
  text-align: right;
  font-size: 10px;
}
.footer .footer_container-disclaimer .footer_disclaimer .footer_privacy-link {
  color: #fad141;
  text-align: right;
  font-family: "Tilda Sans VF";
  font-size: 16px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

@media (max-width: 1330px) {
  .footer_container {
    margin: 0 20px;
  }
}
@media (max-width: 980px) {
  .footer {
    border-radius: 20px 20px 0 0;
  }
  .footer .footer_container-nav .footer_nav-info .footer_logo {
    max-width: 136px;
  }
  .footer .footer_container-nav {
    flex-direction: column;
  }
  .footer .footer_container-nav .footer_nav-links .footer_links-list {
    column-count: 1;
  }
  .footer .footer_container-disclaimer .footer_disclaimer {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .footer .footer_container-disclaimer .footer_disclaimer .footer_disclaimer-meta {
    text-align: left;
  }
}
.header {
  display: block;
  height: 109px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 21;
  width: 100%;
  transition: 0.2s linear;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid rgb(127.5, 127.5, 127.5);
  transition: 0.2s;
}
.header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}
.header__nav .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__nav .header__menu-item {
  list-style: none;
}
.header__nav .header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  gap: 40px;
}

.header__menu-link {
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: 0.1s;
}
.header__menu-link:hover {
  color: rgb(178.5, 178.5, 178.5);
}
.header__menu-link:hover .header__menu-arrow {
  transform: rotate(225deg) translateX(-5px);
}

.header__menu-arrow {
  content: "";
  position: absolute;
  right: -15px;
  top: 25%;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.header__menu-item--dropdown {
  position: relative;
}
.header__menu-item--dropdown .header__dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 10px;
  background-color: #1c1c1c;
  gap: 20px;
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}
.header__menu-item--dropdown .header__dropdown-column {
  width: 300px;
  flex: 1;
}
.header__menu-item--dropdown .header__dropdown-column:last-child {
  margin-left: 40px;
}
.header__menu-item--dropdown .header__dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__menu-item--dropdown .header__dropdown-item {
  margin-bottom: 25px;
}
.header__menu-item--dropdown .header__dropdown-item:last-child {
  margin-bottom: 0;
}
.header__menu-item--dropdown .header__dropdown-link {
  text-decoration: none;
  color: #fff;
  font-size: clamp(16px, 2vw, 20px);
}
.header__menu-item--dropdown .header__dropdown-link:hover {
  font-weight: 700;
}
.header__menu-item--dropdown .header__dropdown--services {
  display: flex;
  padding: 30px 60px;
}
.header__menu-item--dropdown .header__dropdown--services::before {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 50%; /* Линия находится посередине между колонками */
  width: 1px;
  background-color: rgb(178.5, 178.5, 178.5); /* Цвет линии */
}
.header__menu-item--dropdown .header__dropdown--contacts {
  display: block;
  width: 350px;
  text-align: center;
  padding: 40px;
}
.header__menu-item--dropdown:hover .header__dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(20px);
}

.header__dropdown-icon {
  display: block;
  width: 24px;
}

.header__dropdown-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  justify-content: space-around;
}

@media (min-width: 980px) {
  .header_call-container,
  .header_burger-container {
    display: none;
  }
}
@media (max-width: 980px) {
  .header {
    height: auto;
  }
  .header__logo-img,
  .burger-menu__logo > img {
    width: 106px;
  }
  .header .header__container {
    padding: 17px 20px;
  }
  .header__nav,
  .header__rating-link {
    display: none;
  }
  .header_call-container,
  .header_burger-container {
    display: block;
  }
  .header__logo-container {
    width: 100%;
  }
}
/* Основные стили для бургер-меню */
.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none; /* Отображается только на мобильных */
  z-index: 1000;
  background-color: #282828; /* Темный фон */
  color: #fff;
  overflow-y: auto; /* Добавляем прокрутку для контента */
}

.burger-menu__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.burger-menu__content {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 17px 20px;
  height: 100%; /* Контейнер растянут на весь экран */
  overflow-y: auto; /* Если элементов много, добавляем прокрутку */
}

/* Верхняя часть меню */
.burger-menu__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.burger-menu__close {
  background: none;
  border: none;
  cursor: pointer;
}

/* Список меню */
.burger-menu__list {
  list-style: none;
  padding-bottom: 30px;
  margin-top: 25px;
  text-align: center;
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3137254902);
}

.burger-menu__item {
  margin-bottom: 25px;
}

.burger-menu__item a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}

.burger-menu__item a:hover {
  color: #f8c200; /* Цвет ссылки при наведении */
}

/* Контакты */
.burger-menu__contacts {
  display: flex;
  text-align: center;
  margin-top: 30px;
  flex-direction: column;
  gap: 20px;
}

.burger-menu__contacts > a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.burger-menu__contacts > p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.burger-menu__contacts-title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.burger-menu__social {
  display: flex;
  justify-content: center;
  gap: 68px;
  margin-top: 20px;
  align-items: center;
}

/* Показываем бургер-меню на мобильных */
@media (max-width: 480px) {
  .container.header__container {
    border: none !important;
  }
}
.callback_container {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 20;
}
.callback_container .callback_img {
  height: 80px;
  width: 80px;
  border-radius: 90px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
}

.hidden {
  display: none;
}

.callback-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
}

.callback-popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.callback-popup__content {
  position: relative;
  z-index: 1001;
  background-image: url("../images/light-grey.jpg");
  padding: 40px 28px;
  border-radius: 10px;
  width: 347px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.callback-popup__title {
  color: #232323;
  text-align: center;
  font-family: "Tilda Sans VF";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 30.188px; /* 75.469% */
}

.callback-popup__description {
  color: #232323;
  text-align: center;
  font-family: "Tilda Sans VF";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.callback-popup__form .callback-popup__input {
  background-color: transparent;
  text-align: center;
  width: 271px;
  height: 50px;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #979496;
  border-radius: 5px;
  color: rgba(151, 148, 150, 0.96);
  font-family: "Tilda Sans VF";
  font-size: 14.088px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.callback-popup__button {
  text-align: center;
  width: 271px;
  height: 50px;
  background: #232323;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Tilda Sans VF";
  font-size: 14.088px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.callback-popup__button:hover {
  background: #444;
}

.callback-popup__disclaimer {
  color: #979496;
  text-align: center;
  font-family: "Tilda Sans VF";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.callback-popup__close {
  position: absolute;
  top: 15px; /* Положение сверху */
  right: 15px; /* Положение справа */
  background: none;
  border: none;
  cursor: pointer;
  width: 30px; /* Ширина кнопки */
  height: 30px; /* Высота кнопки */
  padding: 0; /* Убираем внутренние отступы */
}

.callback-popup__close img {
  width: 100%; /* Ширина изображения совпадает с кнопкой */
  height: 100%; /* Высота изображения совпадает с кнопкой */
  display: block; /* Убираем пробелы вокруг изображения */
}

@media (max-width: 980px) {
  .callback_container .callback_img {
    height: 60px;
    width: 60px;
  }
}
@font-face {
  font-family: "Tilda Sans VF";
  src: url("../fonts/TildaSans-VF.woff2") format("woff2"), url("../fonts/TildaSans-VF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tilda Sans VF", sans-serif;
  font-size: clamp(16px, 2vw, 20px);
  line-height: normal;
  color: #232323;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus {
  text-decoration: none;
}

section {
  position: relative;
  padding: 0;
  margin-bottom: unset;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
}

@media screen and (max-width: 1330px) {
  .container {
    padding: unset;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid #979496;
  padding: 10px;
  border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #fff;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.wrapper {
  display: block;
}

button {
  background-color: #fff;
  font-family: "Tilda Sans VF", sans-serif;
  color: #fff;
  font-size: clamp(16px, 2vw, 20px);
  padding: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(229.5, 229.5, 229.5);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table th,
table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
table th {
  background-color: #f4f4f4;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.red {
  color: #ff0000 !important;
}

.span-bold {
  font-weight: 600;
}

.black-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("../images/black-bg.jpg");
}

.dark-grey-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("../images/dark-grey.jpg");
}

.grey-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("../images/grey.jpg");
}

.light-grey-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("../images/light-grey.jpg");
}

.title {
  font-weight: 500;
  text-align: center;
  font-size: clamp(27px, 4vw, 43px);
}

.title-sm {
  text-align: center;
  font-size: clamp(27px, 4vw, 40px);
}

.btn {
  background-color: #fff;
  color: #232323;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  height: 47px;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #cccccc;
}

.main_container {
  display: grid;
  text-align: center;
  grid-template-areas: "features video" "stats    video" "stats   video";
  grid-template-columns: 19fr 23fr;
  grid-template-rows: auto auto auto;
  gap: 25px;
  padding-top: clamp(73px, 15vw, 180px);
  padding-bottom: clamp(40px, 8vh, 80px);
}
.main_container-title {
  color: #fff;
  font-size: clamp(27px, 4vw, 36px);
  font-style: normal;
  font-weight: 500;
  line-height: 107%;
  margin-bottom: 15px;
}
.main_container-features {
  grid-area: features;
  padding: 20px 15px 30px 15px;
  background-color: #232323;
  margin-bottom: -18px;
  border: 1px solid #2b2b2b;
  border-radius: 10px;
}
.main_container-features .main_features p {
  color: #fff;
  font-size: clamp(14px, 3vw, 20px);
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}
.main_container-stats {
  margin-top: -9px;
  grid-area: stats;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 10px;
  border: 1px solid #232323;
  padding: 25px 34px;
  height: auto;
}
.main_container-stats .main_stat {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #979797;
}
.main_container-stats .main_stat:nth-child(1) {
  padding-top: 0;
}
.main_container-stats .main_stat:nth-last-child(1) {
  padding-bottom: 0;
  border: none;
}
.main_container-stats .main_stat .main_title-h3 {
  color: #979496;
  font-size: clamp(14px, 3vw, 22px);
  font-style: normal;
  font-weight: 500;
}
.main_container-stats .main_stat .main_title-num {
  color: #fff;
  font-size: clamp(14px, 3vw, 24px);
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}
.main_container-stats .main_stat .main_stat-img {
  width: 25px;
  height: 25px;
}
.main_container-stats .main_stat:nth-child(3) .main_stat-img {
  height: 28px;
}
.main_container .main_video-container {
  grid-area: video;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
}
.main_container .main_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% center;
}

.span_mob {
  display: none;
}

@media screen and (max-width: 1330px) {
  .main_container {
    margin: 0 19px;
  }
}
@media screen and (max-width: 980px) {
  .main_section {
    border-radius: 0 0 20px 20px;
  }
  .main_container {
    grid-template-areas: "features" "video" "stats";
    grid-template-columns: 1fr;
  }
  .main_container-features .main_features p {
    padding: 10px 5px;
  }
  .span_pc {
    display: none;
  }
  .span_mob {
    display: contents;
  }
  .main_container-title {
    margin-bottom: 10px;
  }
  .main_container-features {
    padding: 20px 12px 40px 12px;
    border-radius: 25px 25px 0 0;
  }
  .main_container-features .main_features p:nth-child(1) {
    margin-bottom: 10px;
  }
  .main_container .main_video-container {
    margin-top: -35px;
    height: 204px;
    border-radius: 5px;
  }
  .main_container-stats {
    margin-top: -25px;
  }
}
@media (max-width: 480px) {
  .main_container {
    padding-bottom: 20px;
  }
  .main_container-stats .main_stat .main_stat-img {
    width: 18px;
    height: 18px;
  }
  .main_container-stats .main_stat:nth-child(3) .main_stat-img {
    height: 18px;
    width: 16px;
  }
  .main_container-stats {
    padding: 20px 17px;
  }
  .main_container .main_video-container {
    border-radius: 0;
  }
  .main_container-features {
    padding: 20px 0px 40px 0px;
    border-radius: 25px 25px 0 0;
  }
  .main_container .main_video {
    width: auto;
    height: 130%;
    object-fit: cover;
    object-position: 60% center;
  }
  .main_container-stats .main_stat {
    padding: 15px 0;
  }
  .main_container-stats .main_stat .main_title-h3 .main_title-num {
    font-size: 50px;
  }
  .main_container-title {
    font-size: 26.426px;
    font-weight: 500;
    line-height: 23.178px; /* 87.707% */
  }
}
.casedesk_section {
  margin-top: 60px;
  text-align: center;
}

.casedesk_desk {
  max-width: 1010px;
  margin: 30px auto 60px auto;
  color: #979496;
  font-size: clamp(16px, 2vw, 25px);
  font-weight: 400;
}

.casedesk_container-img {
  display: grid;
  grid-template-areas: "casedesk_img1 casedesk_img2"; /* Картинки в ряд */
  grid-template-columns: 1fr 1fr; /* Две равные колонки */
  grid-template-rows: auto;
  gap: 20px; /* Расстояние между ними */
}

.casedesk_img {
  border-radius: 20px;
  width: 100%; /* Чтобы изображение занимало свою ячейку */
  height: auto; /* Сохраняет пропорции */
}
.casedesk_img:nth-child(1) {
  grid-area: casedesk_img1; /* Привязка к первой области */
}
.casedesk_img:nth-child(2) {
  grid-area: casedesk_img2; /* Привязка ко второй области */
}

@media screen and (max-width: 1330px) {
  .casedesk_container {
    margin: 0 19px;
  }
}
@media (max-width: 980px) {
  .casedesk_desk {
    text-align: left;
  }
  .casedesk_desk {
    margin: 40px auto 20px auto;
  }
  .casedesk_img {
    border-radius: 5px;
  }
  .casedesk_section {
    margin-top: 40px;
  }
}
.process_section {
  margin-top: 60px;
}
.process_section .container {
  padding: unset;
  max-width: 1290px;
  border-radius: clamp(35px, 10vh, 40px);
}

.process_container {
  display: block;
  padding-top: clamp(40px, 20vh, 60px) 0;
}
.process_container .process_title {
  margin-bottom: clamp(20px, 4vh, 40px);
}
.process_container .process_desk {
  text-align: center;
  max-width: 1010px;
  margin: 30px auto 60px auto;
  color: #979496;
  font-size: clamp(16px, 2vw, 25px);
  font-weight: 400;
}
.process_container .process_container-stages {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(20px, 5vw, 60px);
  list-style: none;
  margin: 0;
  padding: 0;
}
.process_container .process_container-stages .process_stages-item {
  display: flex;
  align-items: flex-start;
  gap: clamp(20px, 4vw, 30px);
}
.process_container .process_container-stages .process_stages-item:last-child {
  border-bottom: none;
}
.process_container .process_container-stages .process_stages-item .process_item-num {
  width: clamp(34px, 4vw, 52px);
  line-height: clamp(34px, 4vw, 52px);
  font-size: clamp(20px, 4vw, 30px);
  color: #fff;
  flex-shrink: 0;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.process_container .process_container-stages .process_stages-item .process_item-num::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #232323;
  border-radius: 50%;
  z-index: -1;
}
.process_container .process_container-stages .process_stages-item .process_item-content {
  display: block;
}
.process_container .process_container-stages .process_stages-item .process_item-content .process_content-heading {
  font-size: clamp(20px, 4vw, 30px);
  color: #232323;
  font-weight: 400;
  margin-bottom: 20px;
}
.process_container .process_container-stages .process_stages-item .process_item-content .process_content-desk {
  font-size: clamp(16px, 4vw, 25px);
  color: #979496;
  line-height: normal;
}

@media screen and (max-width: 1330px) {
  .main_container {
    margin: 0 19px;
  }
}
@media screen and (max-width: 980px) {
  .process_container .process_container-stages .process_stages-item .process_item-content .process_content-heading {
    width: 170px;
    margin-bottom: 5px;
  }
  .process_container .process_desk {
    margin: 40px auto 20px auto;
  }
  .process_section {
    margin-top: 40px;
  }
  .process_section .container {
    border-radius: 35px 35px 0 0;
  }
  .process_container {
    padding: 0 clamp(10px, 5vw, 24px);
  }
  .process_container .process_container-stages .process_stages-item {
    align-items: flex-start;
    gap: clamp(5px, 2vh, 10px);
    border: none;
    padding-left: 0;
  }
  .process_container .process_container-stages .process_stages-item .process_item-num {
    margin-right: 0;
  }
  .process_container .process_container-stages .process_stages-item .process_item-content {
    margin-left: 20px;
  }
  .process_container .process_desk {
    text-align: left;
  }
}
.result_section {
  margin-top: 60px;
  text-align: center;
}

.result_desk {
  width: 1010px;
  margin: 30px auto 60px auto;
  color: #979496;
  font-size: clamp(16px, 2vw, 25px);
  font-weight: 400;
}

.result_container-img {
  margin-top: clamp(40px, 10vh, 60px);
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  grid-template-rows: auto; /* Автоматическая высота */
  gap: 20px;
}
.result_container-img .result_img {
  width: 100%; /* Изображение занимает ячейку */
  height: auto; /* Сохраняет пропорции */
  border-radius: 20px;
}

@media screen and (max-width: 1330px) {
  .result_container {
    margin: 0 19px;
  }
}
@media (max-width: 980px) {
  .result_container-img .result_img {
    border-radius: 5px;
  }
  .result_section {
    margin-top: 40px;
  }
  .result_container-img {
    margin-top: 40px;
  }
}
.video_section {
  margin-top: 60px;
  text-align: center;
}

.video_container {
  margin-top: 60px;
  position: relative;
}
.video_container video {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.video_container .video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.47);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  border-radius: 40px;
  z-index: 2;
}
.video_container .play_button {
  width: clamp(48px, 10vw, 144px);
  height: clamp(48px, 10vw, 144px);
  background: url("../images/play-icon.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1330px) {
  .video_container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 980px) {
  .video_container video,
  .video_container .video_overlay {
    border-radius: 5px;
  }
  .video_section {
    margin-top: 40px;
  }
  .video_container {
    margin-top: 40px;
  }
}
.form_section {
  margin-top: 60px;
}
.form_section .container {
  max-width: 1290px;
  border-radius: 40px;
  padding: 0;
}
.form_section .container .form_container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}
.form_section .container .form_container .form_title {
  color: #fff;
}
.form_section .container .form_container .form_desk {
  margin-top: 40px;
  color: #fff;
  font-size: clamp(20px, 2vw, 25px);
}

@media screen and (max-width: 1330px) {
  .form_container {
    margin: 0 19px;
  }
}
.form_form {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.form_form-input {
  background-color: transparent;
  text-align: center;
  height: 60px;
  border-radius: 12px;
}
.form_form-button {
  text-align: center;
  height: 60px;
  border-radius: 12px;
  color: #232323;
  font-weight: 500;
}

.form_disclaimer {
  margin-top: 20px;
  color: #979496;
  font-size: 14px;
}

@media screen and (max-width: 1330px) {
  .form_container {
    margin: 0 20px;
  }
}
@media (max-width: 980px) {
  .form_section .container {
    border-radius: 20px;
  }
  .form_section {
    margin-top: 40px;
  }
  .form_section .container .form_container .form_title {
    font-size: 20px;
  }
  .form_section .container .form_container {
    padding: 40px 40px 40px 40px;
  }
  .form_section .container .form_container .form_desk {
    width: 300px;
    margin: 20px auto;
  }
  .form_section .container .form_container .form_desk {
    font-size: 16px;
    font-weight: 400;
  }
  .form_form-input {
    height: 50px;
    border-radius: 5px;
  }
  .form_form-button {
    height: 50px;
    border-radius: 5px;
  }
}
.depro_section {
  margin-top: 60px;
  text-align: center;
}
.depro_section .depro_desk {
  max-width: 977px;
  margin: auto;
  margin-top: 30px;
  color: #979496;
  font-size: clamp(16px, 2vw, 25px);
  font-weight: 400;
  line-height: 25px; /* 100% */
}
.depro_section .depro_container-img {
  margin-top: 60px;
}
.depro_section .depro_container-img .depro_img {
  border-radius: 20px;
}

@media screen and (max-width: 1330px) {
  .depro_container {
    margin: 0 19px;
  }
}
@media (max-width: 980px) {
  .depro_section {
    margin-top: 40px;
  }
  .depro_section .depro_desk {
    text-align: left;
  }
  .depro_section .depro_container-img .depro_img {
    object-fit: cover;
    height: 603px;
    border-radius: 5px;
  }
  .depro_section .depro_container-img {
    margin-top: 40px;
  }
}
.bed_section {
  margin-top: 60px;
}
.bed_section .bed_img-container {
  margin-top: 60px;
  display: grid;
  grid-template-areas: "bed1 bed2" "bed3 bed4" "bed5 bed5";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}
.bed_section .bed_img-container .bed_img {
  border-radius: 20px;
}
.bed_section .bed_img-container .bed_img1 {
  grid-area: bed1;
}
.bed_section .bed_img-container .bed_img2 {
  grid-area: bed2;
}
.bed_section .bed_img-container .bed_img3 {
  grid-area: bed3;
}
.bed_section .bed_img-container .bed_img4 {
  grid-area: bed4;
}
.bed_section .bed_img-container .bed_img5 {
  grid-area: bed5;
}

@media screen and (max-width: 1330px) {
  .bed_container {
    margin: 0 19px;
  }
}
@media (max-width: 980px) {
  .bed_section {
    margin-top: 40px;
  }
  .bed_section .bed_img-container {
    margin-top: 40px;
  }
  .bed_section .bed_img-container .bed_img {
    border-radius: 5px;
  }
  .bed_section .bed_img-container .bed_img5 {
    height: 471px;
    object-fit: cover;
  }
}
.kit_section {
  margin-top: 60px;
  text-align: center;
}
.kit_section .kit_container-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.kit_section .kit_container-img .kit_img {
  border-radius: 20px;
}

@media screen and (max-width: 1330px) {
  .kit_container {
    margin: 0 19px;
  }
}
@media (max-width: 980px) {
  .kit_section {
    margin-top: 40px;
  }
  .kit_section .kit_container-img {
    margin-top: 40px;
  }
  .kit_section .kit_container-img .kit_img {
    border-radius: 5px;
  }
}
.san_section {
  margin-top: 60px;
}
.san_section .san_img-container {
  margin-top: 60px;
  display: grid;
  grid-template-areas: "san1 san2" "san3 san3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.san_section .san_img-container .san_img {
  border-radius: 20px;
}
.san_section .san_img-container .san_img1 {
  grid-area: san1;
}
.san_section .san_img-container .san_img2 {
  grid-area: san2;
}
.san_section .san_img-container .san_img3 {
  grid-area: san3;
}

@media screen and (max-width: 1330px) {
  .san_container {
    margin: 0 19px;
  }
}
@media (max-width: 980px) {
  .san_section {
    margin-top: 40px;
  }
  .san_section .san_img-container {
    margin-top: 40px;
  }
  .san_section .san_img-container .san_img3 {
    height: 473px;
    object-fit: cover;
  }
  .san_section .san_img-container .san_img {
    border-radius: 5px;
  }
}
.smet_section {
  margin-top: 60px;
  text-align: center;
}
.smet_section .container {
  max-width: 1290px;
  padding: 60px 60px 320px 60px;
  border-radius: 40px;
}
.smet_section .container .smet_title {
  line-height: 0.8;
}
.smet_section .container .smet_container {
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
.smet_section .container .smet_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 120%;
  background: linear-gradient(to bottom, #232323 0%, #f8f8f8 100%);
  z-index: 0;
}
.smet_section .container .smet_container .smet_comparison {
  width: 100%;
}
.smet_section .container .smet_container .smet_comparison .smet_comparison-title {
  color: #232323;
  font-size: clamp(26px, 4vw, 40px);
  margin-bottom: 60px;
}
.smet_section .container .smet_container .smet_comparison .smet_finalprice {
  color: #232323;
  font-size: clamp(16px, 4vw, 25px);
  font-weight: 700;
}
.smet_section .container .smet_container .smet_comparison .smet_price {
  color: #232323;
  font-size: clamp(26px, 4vw, 40px);
}
.smet_section .container .smet_container .smet_comparison .smet_price_mgb {
  margin-bottom: clamp(16px, 4vw, 25px);
}
.smet_section .container .smet_container .smet_comparison .smet_btn {
  margin-top: 60px;
  width: 382px;
  height: 78px;
  background-color: #232323;
  border-radius: 16px;
  color: #fff;
  font-size: сдфьз(14px, 4vw, 22px);
  font-weight: 600;
}

@media screen and (max-width: 1330px) {
  .smet_container {
    margin: 0 19px;
  }
}
@media (max-width: 980px) {
  .smet_container::before {
    display: none;
  }
  .smet_section .container .smet_container .smet_comparison .smet_btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #232323;
    border-radius: 16px;
    color: #fff;
  }
  .smet_section .container {
    max-width: 1290px;
    padding: 40px 20px 80px 20px;
  }
  .smet_section .container .smet_container {
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
  }
}
.gui_section {
  margin-top: -240px;
}
.gui_section .container {
  max-width: 1200px;
  border-radius: 40px;
}
.gui_section .container .gui_container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}
.gui_section .container .gui_container .gui_title {
  color: #fff;
}
.gui_section .container .gui_container .gui_desk {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-size: clamp(20px, 2vw, 25px);
}

.gui_form {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.gui_form-input {
  background-color: transparent;
  text-align: center;
  height: 60px;
  border-radius: 12px;
}
.gui_form-button {
  text-align: center;
  height: 60px;
  border-radius: 12px;
  color: #232323;
  font-weight: 500;
}

.gui_disclaimer {
  margin-top: 20px;
  color: #979496;
  font-size: 14px;
}

@media screen and (max-width: 1330px) {
  .gui_container {
    margin: 0 20px;
  }
}
@media (max-width: 980px) {
  .smet_section .container .smet_container .smet_comparison .smet_comparison-title {
    margin-bottom: 20px;
  }
  .gui_section .container .gui_container {
    padding: 40px 20px;
  }
  .gui_section .container {
    border-radius: 20px;
  }
  .gui_section {
    margin-top: -40px;
  }
  .gui_section .container .form_container .form_title {
    font-size: 20px;
  }
  .gui_section .container .form_container {
    padding: 20px 40px 40px 40px;
  }
  .gui_section .container .form_container .form_desk {
    width: 300px;
    margin: 20px auto;
  }
  .gui_section .container .form_container .form_desk {
    font-size: 16px;
    font-weight: 400;
  }
  .gui_form-input {
    height: 50px;
    border-radius: 5px;
  }
  .gui_form-button {
    height: 50px;
    border-radius: 5px;
  }
}
.case_section {
  padding: 60px 0;
  background-color: #fff;
}

.case_container-grid {
  margin-top: 60px;
  display: grid;
  gap: 20px;
}
.case_container-grid:nth-last-child(1) {
  margin-top: 20px;
}

.case_grid-first-row {
  grid-template-columns: repeat(3, 1fr);
}
.case_grid-first-row .case_video {
  object-position: 80% center;
}

.case_grid-second-row {
  grid-template-columns: repeat(2, 1fr);
}

.case_grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.case_item-video {
  position: relative;
  width: 100%;
  height: 302px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #000;
}

.case_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case_item-desk {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.case_item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  background-color: #232323;
  color: #fff;
  font-size: clamp(16px, 2vw, 20px);
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.case_item-btn:hover {
  background-color: #444;
}

@media screen and (max-width: 1330px) {
  .case_container {
    margin: 0 20px;
  }
}
@media (min-width: 980px) {
  .case_section-mobile {
    display: none;
  }
}
@media (max-width: 980px) {
  .case_section {
    display: none;
  }
  .case_section-mobile {
    display: block;
    margin-top: 40px;
  }
  .case_video {
    object-fit: cover;
    object-position: 80% center;
  }
  .case_title {
    margin-bottom: 40px;
  }
  .swiper-container {
    width: 100%; /* Ширина контейнера */
    overflow: hidden; /* Скрываем лишний контент */
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Убираем сжатие слайдов */
  }
  .swiper-pagination-bullet {
    width: 9px !important;
    height: 9px !important;
    border-radius: 1px !important;
    background: #979496 !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active {
    background: #232323 !important;
  }
  .case_grid-item {
    width: 90%; /* Задаём ширину для каждого элемента слайдера */
    margin: 0 auto;
  }
  .case_item-video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 6px;
    overflow: hidden;
    height: 235px;
  }
  .case_item-desk {
    display: flex;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  .case_item-btn {
    margin-top: 10px;
    font-size: 16px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
  }
  .swiper-wrapper {
    margin-bottom: 40px;
  }
}
.map_section {
  margin-top: 60px;
}

.map {
  border-radius: 20px;
}

@media screen and (max-width: 1330px) {
  .map_container {
    margin: 0 20px;
  }
}
@media (max-width: 980px) {
  .map {
    object-fit: cover;
    height: 400px;
  }
  .map_section {
    margin-top: 40px;
  }
}
.cont_section {
  margin-top: 60px;
}
.cont_section .cont_container {
  display: flex;
  gap: 20px;
}
.cont_section .cont_container .cont_container-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  padding: 30px;
}
.cont_section .cont_container .cont_container-item .cont_title {
  color: #fff;
  font-size: 30px;
}
.cont_section .cont_container .cont_container-item .cont_desk {
  color: #fff;
}
.cont_section .cont_container .cont_container-item .cont_btn {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.cont_section .cont_container .cont_container-item .cont_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cont_section .cont_container .cont_container-item .cont_container-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.cont_section .cont_container .cont_container-item .cont_container-icon .cont_icon {
  border-radius: 10px;
  padding: 10px;
  background-color: #232323;
}
.cont_section .cont_container .cont_container-item:nth-child(2), .cont_section .cont_container .cont_container-item:nth-child(3) {
  background-color: #f8f8f8;
}
.cont_section .cont_container .cont_container-item:nth-child(2) .cont_title, .cont_section .cont_container .cont_container-item:nth-child(3) .cont_title {
  color: #232323;
}
.cont_section .cont_container .cont_container-item:nth-child(2) .cont_desk, .cont_section .cont_container .cont_container-item:nth-child(3) .cont_desk {
  color: #232323;
}

@media screen and (max-width: 1330px) {
  .cont_container {
    margin: 0 20px;
  }
}
@media (max-width: 680px) {
  .cont_container {
    flex-direction: column;
  }
  .cont_title {
    font-weight: 700;
  }
  .cont_section .cont_container .cont_container-item .cont_container-icon .cont_icon {
    border-radius: 5px;
  }
  .cont_section .cont_container .cont_container-item {
    height: auto;
    gap: 20px;
    padding: 20px;
  }
  /* Меняем порядок блоков */
  .cont_section .cont_container .cont_container-item:nth-child(2) {
    order: 3; /* Второй блок становится третьим */
  }
  .cont_section .cont_container .cont_container-item:nth-child(3) {
    order: 2; /* Третий блок становится вторым */
  }
}

/*# sourceMappingURL=case.css.map */
