@use 'sass:color';
@use 'variables' as vars;
@use 'mixins' as mxn;
@use 'footer';

// ХЕДЕР

.header {
    display: block;
    height: 109px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 21;
    width: 100%;
    transition: 0.2s linear;

    &__container {
        @include mxn.container-flex;
        height: 100%;
        border-bottom: 1px solid
            color.adjust(vars.$primary-color, $lightness: -50%);
        transition: 0.2s;
    }

    &__logo-container {
        @include mxn.container-flex;
        gap: 20px;
    }

    &__nav {
        @include mxn.container-flex;
        gap: 55px;

        .header__menu {
            @include mxn.container-flex;
            gap: 40px;

            &-item {
                list-style: none;
            }
        }

        .header__contacts {
            @include mxn.container-flex;
            color: vars.$primary-color;
            gap: 40px;
        }
    }
}

.header__menu-link {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: vars.$primary-color;
    transition: 0.1s;
    &:hover {
        color: color.adjust(vars.$primary-color, $lightness: -30%);
    }

    &:hover .header__menu-arrow {
        transform: rotate(225deg) translateX(-5px);
    }
}

.header__menu-arrow {
    content: '';
    position: absolute;
    right: -15px;
    top: 25%;
    border: solid vars.$primary-color;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

// ДРОПДАУН

.header__menu-item--dropdown {
    position: relative;

    .header__dropdown {
        @include mxn.dropdown-container;

        &-column {
            width: 300px;
            flex: 1;

            &:last-child {
                margin-left: 40px;
            }
        }

        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            text-decoration: none;
            color: vars.$primary-color;
            font-size: vars.$base-font-size;

            &:hover {
                font-weight: 700;
            }
        }

        &--services {
            display: flex;
            padding: 30px 60px;

            &::before {
                content: '';
                position: absolute;
                top: 30px;
                bottom: 30px;
                left: 50%; /* Линия находится посередине между колонками */
                width: 1px;
                background-color: color.adjust(
                    vars.$primary-color,
                    $lightness: -30%
                ); /* Цвет линии */
            }
        }

        &--contacts {
            display: block;
            width: 350px;
            text-align: center;
            padding: 40px;
        }
    }

    &:hover .header__dropdown {
        @include mxn.dropdown-visible;
    }
}

.header__dropdown-icon {
    display: block;
    width: 24px;
}

.header__dropdown-social {
    @include mxn.container-flex;
    margin-top: 30px;
    justify-content: space-around;
}

@media (min-width: 980px) {
    .header_call-container,
    .header_burger-container {
        display: none;
    }
}

@media (max-width: 980px) {
    .header {
        height: auto;
    }

    .header__logo-img,
    .burger-menu__logo > img {
        width: 106px;
    }

    .header .header__container {
        padding: 17px 20px;
    }

    .header__nav,
    .header__rating-link {
        display: none;
    }

    .header_call-container,
    .header_burger-container {
        display: block;
    }

    .header__logo-container {
        width: 100%;
    }
}

// Бургер

/* Основные стили для бургер-меню */
.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none; /* Отображается только на мобильных */
    z-index: 1000;
    background-color: #282828; /* Темный фон */
    color: vars.$primary-color;
    overflow-y: auto; /* Добавляем прокрутку для контента */
}

.burger-menu__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.burger-menu__content {
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 17px 20px;
    height: 100%; /* Контейнер растянут на весь экран */
    overflow-y: auto; /* Если элементов много, добавляем прокрутку */
}

/* Верхняя часть меню */
.burger-menu__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.burger-menu__close {
    background: none;
    border: none;
    cursor: pointer;
}

/* Список меню */
.burger-menu__list {
    list-style: none;
    padding-bottom: 30px;
    margin-top: 25px;
    text-align: center;
    width: 100%;
    border-bottom: 0.5px solid #ffffff50;
}

.burger-menu__item {
    margin-bottom: 25px;
}

.burger-menu__item a {
    color: vars.$primary-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
}

.burger-menu__item a:hover {
    color: #f8c200; /* Цвет ссылки при наведении */
}

/* Контакты */
.burger-menu__contacts {
    display: flex;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
}

.burger-menu__contacts > a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.burger-menu__contacts > p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.burger-menu__contacts-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.burger-menu__social {
    display: flex;
    justify-content: center;
    gap: 68px;
    margin-top: 20px;
    align-items: center;
}

/* Показываем бургер-меню на мобильных */

@media (max-width: 480px) {
    .container.header__container {
        border: none !important;
    }
}

// Колбек

.callback_container {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 20;

    .callback_img {
        height: 80px;
        width: 80px;
        border-radius: 90px;
        border: 1px solid #d7d7d7;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.callback-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.callback-popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.callback-popup__content {
    position: relative;
    z-index: 1001;
    background-image: url('../images/light-grey.jpg');
    padding: 40px 28px;
    border-radius: 10px;
    width: 347px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.callback-popup__title {
    color: #232323;
    text-align: center;
    font-family: 'Tilda Sans VF';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.188px; /* 75.469% */
}

.callback-popup__description {
    color: #232323;
    text-align: center;
    font-family: 'Tilda Sans VF';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.callback-popup__form .callback-popup__input {
    background-color: transparent;
    text-align: center;
    width: 271px;
    height: 50px;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid vars.$third-color;
    border-radius: 5px;
    color: rgba(151, 148, 150, 0.96);
    font-family: 'Tilda Sans VF';
    font-size: 14.088px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.callback-popup__button {
    text-align: center;
    width: 271px;
    height: 50px;
    background: #232323;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: 'Tilda Sans VF';
    font-size: 14.088px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.callback-popup__button:hover {
    background: #444;
}

.callback-popup__disclaimer {
    color: #979496;
    text-align: center;
    font-family: 'Tilda Sans VF';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.callback-popup__close {
    position: absolute;
    top: 15px; /* Положение сверху */
    right: 15px; /* Положение справа */
    background: none;
    border: none;
    cursor: pointer;
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота кнопки */
    padding: 0; /* Убираем внутренние отступы */
}

.callback-popup__close img {
    width: 100%; /* Ширина изображения совпадает с кнопкой */
    height: 100%; /* Высота изображения совпадает с кнопкой */
    display: block; /* Убираем пробелы вокруг изображения */
}

@media (max-width: 980px) {
    .callback_container .callback_img {
        height: 60px;
        width: 60px;
    }
}

// Консультация попап

.zayavka_section {
    margin-top: 0;
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    width: 100vw; /* Полная ширина */
    height: 100vh; /* Полная высота */
    background-color: rgba(0, 0, 0, 0.7); /* Задний фон с затемнением */
    backdrop-filter: blur(1.899999976158142px);
    z-index: 999; /* Поверх всего контента */

    display: none; /* Центрирование контейнера */
    align-items: center;
    justify-content: center;

    &.is-visible {
        display: flex; /* Показать при добавлении класса */
    }

    .container {
        width: 350px;
        border-radius: 20px;
        padding: 20px;
        height: fit-content;
        position: relative;

        .zayavka_container {
            width: 100%;
        }
    }
}

.zayavka_container {
    margin: 0 auto;
    text-align: left;
}

.zayavka_title {
    width: 250px;
    color: vars.$primary-color;
    font-size: 24px;
    font-weight: 400;
}

.zayavka_subtitle {
    color: vars.$primary-color;
    font-size: 18px;
    margin: 20px 0;
    font-weight: 300;
}

.zayavka_container-form {
    .zayavka_form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 25px;

        .zayavka_form-input {
            text-align: center;
            height: 57px;
            border: 1px solid vars.$third-color;
            border-radius: 5px;
            font-size: 16px;
            background-color: transparent;
            color: vars.$primary-color;
        }

        .zayavka_form-button {
            height: 57px;
            font-size: 16px;
            border-radius: 5px;
            background-color: vars.$primary-color;
            color: vars.$secondary-color;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #e0e0e0;
            }
        }
    }

    .zayavka_disclaimer {
        margin-top: 20px;
        color: vars.$third-color;
        font-size: 14px;
    }
}

.zayavka-popup__close {
    position: absolute;
    top: 21px;
    right: 21px;
    background: none;
    border: none;
    cursor: pointer;
    width: 33px; /* Ширина кнопки */
    height: 33px; /* Высота кнопки */
    padding: 0; /* Убираем внутренние отступы */

    &:hover {
        background-color: transparent;
    }
}

.zayavka-popup__close img {
    width: 100%; /* Ширина изображения совпадает с кнопкой */
    height: 100%; /* Высота изображения совпадает с кнопкой */
    display: block; /* Убираем пробелы вокруг изображения */
}
