$font-path: '../fonts';
$base-font-family: 'Tilda Sans VF', sans-serif;
$base-line-height: normal;
$base-font-size: clamp(16px, 2vw, 20px);
$mid-font-size: clamp(20px, 2vw, 25px);
$primary-color: #fff;
$secondary-color: #232323;
$third-color: #979496;
