$font-path: '../fonts';
$base-font-family: 'Tilda Sans VF', sans-serif;
$base-line-height: 1;
$base-font-size: clamp(16px, 2vh, 20px);
$primary-color: #333;
$secondary-color: #555;
$background-color: #fff;
$color-text-primary: #fff;
