@use 'sass:color';
@use 'variables' as vars;
@use 'mixins' as mxn;
@use 'header';
@use 'footer';

@font-face {
    font-family: 'Tilda Sans VF';
    src:
        url('#{vars.$font-path}/TildaSans-VF.woff2') format('woff2'),
        url('#{vars.$font-path}/TildaSans-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Устанавливает модель коробки для всех элементов
}

// Устанавливаем базовые стили для body
body {
    font-family: vars.$base-font-family;
    font-size: vars.$base-font-size;
    line-height: vars.$base-line-height;
    color: vars.$secondary-color;
    background-color: vars.$primary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Основные теги
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

// Стили для ссылок
a {
    text-decoration: none;
    color: inherit; // Сохраняем цвет родительского элемента
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

// Заголовки секций
section {
    position: relative; // Позволяет использовать абсолютное позиционирование внутри
    padding: 0;
    margin-bottom: 60px;
}

// Стили для контейнеров
.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

// Сброс для изображений
img {
    max-width: 100%;
    height: auto;
    display: block;
}

// Типичные стили для формы
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: vars.$primary-color;
}

// Стили для блока с фиксированным позиционированием
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

// Стили для основных контейнеров и секций
.wrapper {
    display: block;
}

// Стили для кнопок
button {
    background-color: vars.$primary-color;
    color: #fff;
    font-size: vars.$base-font-size;
    padding: 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: color.adjust(vars.$primary-color, $lightness: -10%);
    }
}

// Стили для таблиц
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    th,
    td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }
    th {
        background-color: #f4f4f4;
    }
}

// Стили для модальных окон
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

// СТИЛИ ГЛАВНОГО ЭКРАНА

.full-width-bg {
    background-color: vars.$primary-color;
    background-image: url('../images/main_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: vars.$primary-color;
    color: vars.$secondary-color;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    height: 47px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: color.adjust(vars.$primary-color, $lightness: -20%);
    }
}

.main_container {
    display: grid;
    text-align: center;
    grid-template-areas:
        'features video'
        'stats    video'
        'button   video';
    grid-template-columns: 19fr 23fr;
    grid-template-rows: auto auto auto;
    gap: 25px;
    padding-top: clamp(73px, 15vh, 180px);
    padding-bottom: clamp(40px, 8vh, 80px);

    &-title {
        color: vars.$primary-color;
        font-size: clamp(26px, 4vw, 36px);
        font-style: normal;
        font-weight: 500;
        line-height: 107.112%; /* 38.655px */
        margin-bottom: 25px;
    }

    // Блок с заголовком и особенностями
    &-features {
        grid-area: features;
        padding: 40px 15px 40px 15px;
        border-radius: 10px;
        background-color: vars.$secondary-color;
        margin-bottom: -18px;

        .main_features {
            p {
                color: vars.$primary-color;
                font-size: clamp(14px, 2vh, 18px);
                font-style: normal;
                font-weight: 500;

                &:nth-child(1) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    // Блок статистики
    &-stats {
        grid-area: stats;
        display: grid;
        grid-template-areas:
            'main_stat1 main_stat2'
            'main_stat3 main_stat3';
        grid-template-columns: 1fr 1fr;
        gap: 7px;

        .main_stat1 {
            grid-area: main_stat1;
        }

        .main_stat2 {
            grid-area: main_stat2;
        }

        .main_stat3 {
            grid-area: main_stat3;
        }

        .main_stat {
            text-align: center;
            padding: 5px 0;
            border-radius: 10px;
            background-color: vars.$secondary-color;

            .main_title-h3 {
                color: vars.$primary-color;
                font-size: clamp(14px, 2vh, 18px);
                font-style: normal;
                font-weight: 500;
                line-height: 17.489px;

                .main_title-num {
                    color: vars.$third-color;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: -2.588px;
                }
            }
        }
    }

    // Кнопка
    .main_btn {
        grid-area: button;
        width: 100%;
        height: clamp(50px, 10vw, 64px);
        font-size: clamp(16px, 2vh, 20px);
    }

    // Видео
    .main_video-container {
        grid-area: video;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        background: #000;
    }

    .main_video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 55% center;
    }
}

@media screen and (max-width: 1330px) {
    .main_container {
        margin: 0 20px;
    }
}

@media screen and (max-width: 980px) {
    .main_container {
        grid-template-areas:
            'features'
            'video'
            'stats'
            'button';
        grid-template-columns: 1fr;
    }
}
