# Node.js (папка с зависимостями)
node_modules/

# Скомпилированный CSS (он генерируется из SASS)
css/style.css

# SASS-кэш (временные файлы SASS)
.sass-cache/

# Локальные настройки редактора
.vscode/

# Временные файлы системы
.DS_Store       # macOS
Thumbs.db       # Windows

# Лог-файлы
*.log

# Бэкап-файлы редакторов
*.bak
*.swp
*.tmp
